@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
  color: #303030;
  min-width: 320px;
}
.inter {
  font-family: "inter", sans-serif;
}
.transall {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
}
.transall:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
}
.transall-slow {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 2s;
}
.transall-slow:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 2s;
}
.fadeInBlur {
  animation-name: fadeBlur;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes fadeBlur {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.overlay {
  z-index: 50;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #cfcfcf;
  mix-blend-mode: difference;
  pointer-events: none;
}
.grad {
  background: linear-gradient(180deg, #4eb162 0%, #4e6bb1 100%);
}

.text-grbl {
  background: linear-gradient(180deg, #4e6bb1 0%, rgba(78, 177, 98, 0.97) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-grgr {
  background: linear-gradient(180deg, #4eb162 0%, #4e6bb1 50%, #b14e9d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-pkbl {
  background: linear-gradient(180deg, #b14e9d 42.19%, #4e6bb1 94.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.patt1 {
  animation: rotate360 50s linear infinite;
}
.patt0 {
  animation: rotate360 40s linear infinite reverse;
}

.shadow-neo {
  box-shadow: -10px 10px 0px 0px #1e1e1e;
}

.shadow-neo-hover:hover {
  box-shadow: -10px 10px 0px 0px #1e1e1e;
}
.bottom-grad {
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.15) 20%, #1e1e1e 100%);
}
.dark-overlay {
  background: linear-gradient(180deg, rgba(30, 30, 30, 2) 90%, #1e1e1e 100%);
}
